.timeline li:before {
    content:'';
    display:inline-block;
    height:2em;
    width:2em;
    background-image:url('https://image.flaticon.com/icons/svg/1477/1477228.svg');
    background-size:contain;
    background-repeat:no-repeat;
    padding-left: 2em;
}
main{
    background: rgb(183,64,76);
    background: -moz-linear-gradient(top, rgba(183,64,76,1) 35%, rgba(183,100,109,1) 69%,  rgba(183,100,109,1) 77%, rgba(181,123,128,1) 80%,  rgba(255,255,255,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(183,64,76,1) 35%,rgba(183,100,109,1) 69%,rgba(183,100,109,1) 77%,rgba(181,123,128,1) 80%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(to bottom, rgba(183,64,76,1) 35%,rgba(183,100,109,1) 69%,rgba(183,100,109,1) 77%,rgba(181,123,128,1) 80%,rgba(255,255,255,1) 100%); 
    animation: load 2.0s;
}
@keyframes load{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
.avatar-switch-wrapper button{
    background-color:rgba(183,64,76,1);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px; 
}
.avatar-switch-wrapper button:hover{
    opacity: 0.8;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.enemies{
    background: rgba(0,0,0,0.04);
    border-radius: 4px;
  }
.avatar-switch-wrapper{
    margin-top: 20px; 
} 
.preview{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    #btnSwitchVideo{
        background-color:rgba(183,64,76,1);
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px; 
    }
    #btnSwitchVideo:hover{
        opacity: 0.8;
       box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .avatarAnim{
        transition: all 1s ease-out;
     }
    .avatarAnim:hover{
        transform: scale(1.2);
     }
     .timeline li:hover{
        transform: scale(1.05);
        background-color: rgba(183, 64, 76, 0.200);
     }
     .ryu-gif{
         height: 300px;
         width: 155px;
         background-image: url(./5cdaa1bcc7750998202190.gif)
     }
     @media (max-width: 580px){
        iframe{
            width: 90%;
        }
    } 