.timeline li:before {
    content:'';
    display:inline-block;
    height:2em;
    width:2em;
    background-image:url('https://image.flaticon.com/icons/svg/1477/1477228.svg');
    background-size:contain;
    background-repeat:no-repeat;
    padding-left: 2em;
}
main{
    background: #f0f0f0; 
    background: -moz-linear-gradient(top, #f0f0f0 0%, #e3e3e3 33%, #d4d4d4 78%, #e7e7e7 100%); 
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#e3e3e3 33%,#d4d4d4 78%,#e7e7e7 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%,#e3e3e3 33%,#d4d4d4 78%,#e7e7e7 100%); 
    animation: load 2.0s;
}
@keyframes load{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
.avatar-switch-wrapper button{
    background-color:midnightblue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px; 
}
.avatar-switch-wrapper button:hover{
    opacity: 0.8;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.enemies{
    background: rgba(0,0,0,0.04);
    border-radius: 4px;
  }
.avatar-switch-wrapper{
    margin-top: 20px; 
} 
.avatarAnim{
    transition: all 1s ease-out;
}
.avatarAnim:hover{
    transform: scale(1.2);
 }